<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Anders Lund</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

    <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

  <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">

  <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">

  </head>
  <body>
    <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/" style="color:white" >About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Portfolio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/images/resume.pdf" style="color:white" target="_blank">Resume</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="contact" style="color:white">Contact</a>
  </li>
</ul>


<div class="container techTitle">
Tech Stack
</div>


<div class="container techStack" data-aos="fade-left" data-aos-duration="2000">



<div class="row techRow">
  <div class="col-md-2">
    <img src="images/html.png" alt="html" class="tech">
  </div>
  <div class="col-md-2">
    <img src="images/javascript.png" alt="js" class="tech">
  </div>
  <div class="col-md-2">
    <img src="images/css2.png" alt="css" class="tech">
  </div>
  <div class="col-md-2">
    <img src="images/swift.png" alt="swift" class="tech">
  </div>
  <div class="col-md-2">
    <img src="images/psql.png" alt="psql" class="tech">
  </div>
</div>
</div>
<div class="container techStack" data-aos="fade-right" data-aos-duration="2000">
<div class="row techRow">
  <div class="col-md-2">
    <img src="images/angular.png" alt="html" class="tech">
  </div>
  <div class="col-md-2">
    <img src="images/ajax.png" alt="js" class="tech ajax">
  </div>
  <div class="col-md-2">
    <img src="images/api1.png" alt="css" class="tech">
  </div>
  <div class="col-md-2">
    <img src="images/bootstrap.png" alt="swift" class="tech">
  </div>
  <div class="col-md-2">
    <img src="images/coreml.png" alt="psql" class="tech">
  </div>
</div>
</div>
<div class="container techStack" data-aos="fade-left" data-aos-duration="2000">
<div class="row techRow">
  <div class="col-md-2">
    <img src="images/github.png" alt="html" class="tech">
  </div>
  <div class="col-md-2">
    <img src="images/heroku.png" alt="js" class="tech">
  </div>
  <div class="col-md-2">
    <img src="images/jquery.png" alt="css" class="tech">
  </div>
  <div class="col-md-2">
    <img src="images/knex.png" alt="swift" class="tech">
  </div>
  <div class="col-md-2">
    <img src="images/postman.png" alt="psql" class="tech">
  </div>
</div>
</div>




<div class="container projectTitle" data-aos="fade-up" data-aos-duration="1000">
Projects
</div>


<div class="container projects" data-aos="fade-left" data-aos-duration="2000">

<div class="card mb-3">
  <iframe
src="https://www.youtube.com/embed/HtEq5L5xBDU">
</iframe>
  <div class="card-body">
    <h5 class="card-title">Accidental iO</h5>
    <h6 class="card-subtitle mb-2 text-muted">iOS | Swift | Coreml | Node | Express | Knex | PostgreSQL | Heroku</h6>
    <p class="card-text">iOS application that allows users to manage a fleet of vehicles and track damages using a custom deep learning model.</p>
  </div>
</div>
</div>
<div class="container projects" data-aos="fade-right" data-aos-duration="2000">

<div class="card mb-3">
  <iframe
src="https://www.youtube.com/embed/FPia0AYqpWs">
</iframe>
  <div class="card-body">
    <h5 class="card-title">Simple Somm</h5>
      <h6 class="card-subtitle mb-2 text-muted">iOS | Swift | Angular | Node | Express | PostgreSQL | Bootstrap</h6>
    <p class="card-text">Web application that generates a wine list for small restaurants who can’t afford a large beverage program. iOS application in progress, it currently uses OCR to recommend wines based on foods that it recognizes.  In the future, I’d like to build a better interface and transition to CoreML. </p>
  </div>
</div>
</div>
<div class="container projects" data-aos="fade-left" data-aos-duration="2000">

<div class="card mb-3">
  <iframe
src="https://www.youtube.com/embed/UF7Ol71Vurs">
</iframe>
  <div class="card-body">
    <h5 class="card-title">What's for Dinner?</h5>
    <h6 class="card-subtitle mb-2 text-muted">Node | Handlebars | Express | MongoDB | Mongoose | Materialize</h6>
    <p class="card-text">Web application that uses the contents of your fridge to suggest recipes.</p>

  </div>
</div>
</div>






  <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>

  </body>
</html>
