body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url("../images/background3.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

a {
  color: #00B7FF;
}
.logo {
  width: 400px;
  height: auto;
}
.header {
margin-top: 20px;
}
.title {
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: flex-start;
}

.bio {
  color: white;
  margin-top: 30px;
}
.profilePic {
  width: 150px;
  height: auto;
}
.contactInfo {
  display: flex;
  justify-content: center;
  width: auto;
  max-height: auto;
  /* background-color: lightgrey; */
  /* opacity: 0.6; */
  margin-top: 10px;
  border-radius: 5px;
  padding: 50px;
}

.linkedin {
  margin-left: 85px;
  height: 100px;
  width: auto;
}
.github {
  margin-left: 85px;
  height: 100px;
  width: auto;
}
.youtube {
  margin-left: 55px;
  height: 100px;
  width: auto;

}
.twitter {
  margin-left: 85px;
  height: 100px;
  width: auto;
}
.fb {
  margin-left: 85px;
  height: 100px;
  width: auto;
}
.ajax {
  margin-top: 25px;
}
.emailSuccess {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 15px;
}
.techStack {
/* display: flex;
justify-content: center; */
margin-top: 30px;

}
.tech {
  width: 100px;
  height: auto;
}
.techTitle{
  display: flex;
  justify-content: flex-start;
  color: white;
  font-size: 90px;
  margin-top: 0px;
  margin-left: 20px;
}
.projectTitle{
  display: flex;
  justify-content: flex-start;
  color: white;
  font-size: 90px;
  margin-top: 30px;
  margin-left: 20px;
  width: auto;
}
.projects{
display: flex;
justify-content: center;
margin-top: 50px; */
}
.techRow {
  display: flex;
  justify-content: center;
}
.card {
  height: auto;
  width: 100%;
}
iframe {
  height: 200px;
  width: 100%;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    display: flex;
    justify-content: space-around;
}
.form-row {
  margin-top: -20px;
}
